@model Mathimize.com.Models.TimeResultViewModel
@{
//    ViewBag.Title = "Tens";
    //Layout = "_FormLayout.cshtml";
}

    <div class="span3">
        <div class="row control-group">
            <label class="control-label small" for="Rows">
                Rows</label>
            @Html.TextBoxFor(m => m.Rows, new { @class = "input-mini", @Value = (Model == null ? "9" : Model.Rows.ToString()) })
            @Html.ValidationMessageFor(m => m.Rows)
        </div>
        <div class="row control-group">
            <label class="control-label small" for="Cols">
                Cols</label>
            @Html.TextBoxFor(m => m.Cols, new { @class = "input-mini", @Value = (Model == null ? "7" : Model.Cols.ToString()) })
            @Html.ValidationMessageFor(m => m.Cols)
        </div>
    </div>
    <div class="span3">
        <div class="row control-group">
           
        </div>
        <div class="row">
            @Html.HiddenFor(m => m.ResultId)
        </div>
    </div>
