@model Mathimize.com.Models.TimeResultViewModel
@{
    Layout = "~/Views/Shared/_LeftMenuLayout.cshtml";
}
<div>
    <h3>
        @Model.Op</h3>
    @using (Html.BeginForm(@Model.Op, "Time", FormMethod.Post, new { @class = "form-horizontal" }))
    {

        <div class="container">
            @Html.Partial("_" + Model.Op + "Form", Model)
        </div>
        <button type="submit" class="btn btn-inverse">
            Submit</button>
        <input type="button" class="btn btn-inverse" value="Export to PDF" id="pdf" />
    }
    @{
        if (Model != null && Model.HourMinutes != null)
        {
        
        <h2>@Model.Op</h2>
        
            int i = 0;

            for (int r = 0; r < Model.Rows; r++)
            {
        <div class="row">
            @for (int c = 0; c < Model.Cols; c++)
            {
                <div class="span2 border time_box">
                    @Html.Partial("_" + Model.Op + "Result", Model.HourMinutes[i++])
                </div>
                    
            }
        </div>
            }

        }


    }
</div>
