@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Header{
   <script src="@Url.Content("~/Scripts/Mathimize/CustomValidation.js")" type="text/javascript"></script>
 
    @RenderSection("Header", false)
}
<body class="pull_top">
    <div class="navbar navbar-inverse navbar-static-top">
        @Html.Partial("_TopNavBar")
    </div>

    <div id="mathimize_body" class="container">
        <div class="row">
            <div class="span12">
                @RenderBody()
            </div>
        </div>
    </div>

    @Html.Partial("_Footer")
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-325815-8']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
</body>

